<h1 style="color:#2b2e2f;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:16px;line-height:22px;margin:15px 0">Hi, There!</h1>
<p style="color:#2b2e2f;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:14px;line-height:22px;margin:15px 0">Your reset password code: <a href="#" title='#{code}' style="text-decoration: none;"> #{code} </a> This code can be used to reset your account password.</p>
//- <p style="color:#2b2e2f;font-family:'Lucida Sans Unicode','Lucida Grande','Tahoma',Verdana,sans-serif;font-size:14px;line-height:22px;margin:15px 0">If you didn't request this code by trying to log in on another device, simple ignore this message. </p>


